NUXT_PUBLIC_PRODUCTION="false"
NUXT_SITE_URL="https://exemplo.br:3000"
NUXT_PUBLIC_SITE_URL="http://localhost:3000"
NUXT_SESSION_PASSWORD="soosjduyfdbbd"
NUXT_MONGO_URL="mongodb://mongo.example.com:27017"
NUXT_MONGO_USERNAME="mongouser"
NUXT_MONGO_PASSWORD="essa senha é mt dificil de ser quebrada :o"
NUXT_MONGO_DB_NAME="auditorios"
STUDIO_SESSION_SECRET="www"
STUDIO_GITHUB_TOKEN="glpat-exploretoken"
DEV_URL="exemplo.dev.br"